@model ApplicationCrud.Models.Carro
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Modelo</h2>
<p>Cor: @Model.Cor</p>
<p>Placa: @Model.Placa</p>
<p>Modelo: @Model.Modelo</p>
<p>Valor Locacao: @Model.ValorLocacao</p>