@model ApplicationCrud.Models.Cliente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>CPF: @Model.CPF</p>
<p>Email: @Model.Email</p>
<p>RG: @Model.RG</p>
<p>Telefone: @Model.Telefone</p>
<p>CNH: @Model.NumeroCNH</p>