@model ApplicationCrud.Models.Empresa
@{
    ViewBag.Title = "Details";
}

<h2>@Model.NomeEmpresa</h2>
<p>Telefone: @Model.NumeroTelefone</p>
<p>Cnpj: @Model.Cnpj</p>
<p>Endereco: @Model.Endereco</p>
<p>Capital Social: @Model.CapitalSocial</p>
<p>Tipo Empresa: @Model.TipoEmpresa</p>